@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  width: 100%;
  user-select: none;
}

body {
  min-width: 576px;
  background-color: #fff;
}

.dark body {
  background-color: #1a1a1a;
}

.dark #app {
  background-color: #1a1a1a;
}
